[2015-05-31 13:48] ZinChen2014 opened #1 "Can not get the annotation data from the class and can not copy the annotation to the BeanDefinition"
Hi, I found that it can not get the annotation when loading the classes from the plugins folder, so it can not inject the annotation  to the BeanDefinition. I debug the ExtensionsInjector class, and found that.
I want to use the spring mvc with this project. but it can not work. Is this a bug or am I using the wrong way?

[2015-05-31 14:04] decebals commented on #1
Can you giveme more details about your use case? will be greate if you can add some code snippet.

[2015-12-24 08:48] decebals opened #2 "Unable to Invoke Spring Beans"
See decebals/pf4j/issues/49

[2015-12-28 20:42] #1 closed

[2015-12-28 20:43] decebals commented on #2
closed this in 7837ffb

[2015-12-28 20:43] #2 closed

[2015-12-29 11:37] decebals commented on #2
@Tapsarchitect Can you confirm that this issue is fixed?

[2015-12-29 11:37] decebals commented on #1
@ZinChen2014 Can you confirm that this issue is fixed?

[2017-02-24 14:53] decebals opened #3 "ExtensionsInjector and early PluginManager early bean loading"
Moved from https://github.com/decebals/pf4j/issues/126.

[2017-03-08 20:33] decebals commented on #3
@ramymagdy
Your code is OK but I don't like that we cannot extract something reusable components (for example `ExtensionsInjector`, `SpringPluginManager`) that can be used out of the box by someone else.

I tried to move forward the project in this direction.
For example the new version for `ExtensionInjector` could be:
[code]

Also tried to create a `SpringPluginManager` that it's a decorator (se

[2017-12-05 10:54] henrik-dvlpr opened #4 "Problems with Extension and Scopes"
Hey,
I want to extend an class that needs a other scope then the singleton. How can I specify the bean scope for the `@Extension` annotated class?

I want to use your library with Spring and Vaadin 8. All works fine! But now I want to test to get `SpringView` annotated classes loaded out of the plugin. And there I have problems with the scopes of the bean that will be created by your library. The

[2017-12-05 10:55] loefflefarn opened #5 "Any option to load new plugins on demand?"
Hey,
is there any option to load new added plugins on demand, without the needing to deploy the app again?

Greetings!

[2017-12-05 11:53] decebals commented on #5
It's a question related to PF4J.
See [PluginMnaager#loadPlugin](https://github.com/decebals/pf4j/blob/master/pf4j/src/main/java/org/pf4j/PluginManager.java#L74).

[2017-12-05 12:08] decebals commented on #4
I don't use Spring in my projects so I don't use this PF4J's extension (pf4j-spring).
This project is very tiny and easy to hack. All the business is available in two classes: `SpringExtensionFactory` and `ExtensionsInjector`.
My idea is to add a new annotation (for example @SpringScope) on class annotated with @Extension. In this mode if you have the class (name) of extension you can read the val

[2017-12-05 13:31] loefflefarn commented on #4
You mean something like this?
[code]
There I have edit the `ExtensionsInjector`. I don't tested it yet and don't know if this work, but it can be an idea for it. The biggest change would be the switch from the `SingleBeanRegistry` to `BeanDefinitionRegistry`.

[code]

[2017-12-05 13:33] loefflefarn commented on #5
Ah, nice! Thank you!

[2017-12-05 13:33] #5 closed

[2017-12-05 13:57] decebals commented on #4
Yes. Something like this.

[2017-12-05 14:08] decebals commented on #4
What it's not clear for me is the comment from https://github.com/decebals/pf4j-spring/commit/1139d13ff2f100b00d482b094ff22793534302e5#comments that says that

Can you validate this affirmation.  Did you able to run the demo without problem?

The modification with `ExtensionsInjector.injectExtensions(SingletonBeanRegistry beanRegistry)` is an attempt to solve #3.

Thanks!

[2017-12-05 14:18] decebals commented on #4
I see that exists org.springframework.context.annotation.Scope. It's an idea to use this annotation.

[2017-12-05 14:58] loefflefarn commented on #4
`org.springframework.context.annotation.Scope` would be great for this!

I can get it running, but not fully. The application context of the plugin is not resolved anymore. But with my fix, the scope will be set right.
[code]
What I had to change was the `@PostConstruct` method.

[code]

The post construct method don't allow parameters anymore. I don't checked if this has a relation to my changes.

[2017-12-05 15:03] decebals commented on #4
Can you fork the project (via GitHub), add your modifications to pippo-spring and give me the link?

[2017-12-05 15:07] loefflefarn commented on #4
Yes, I can! Here: https://github.com/loefflefarn/pf4j-spring/tree/pippo-spring

[2017-12-06 17:38] decebals commented on #4
@loefflefarn
I made some modifications on master to organize better the code and to prepare things for Scope implementation.
I created a new branch "scope" that contains all modifications. I added scope "prototype" on one of extension from demo and it works. I will create a PR to have the possibility to review the code and add comments.

[2017-12-06 18:47] loefflefarn commented on #4
Nice, okay. I will check it tomorow in my application and will give you feedback! Thanks a lot for you help.

[2017-12-06 21:22] decebals commented on #3
I think that actual code (4fc56f8) resolve this issue.

[2017-12-06 21:22] #3 closed

[2017-12-07 07:43] loefflefarn commented on #4
The scopes are now setted right but they cannot resolve there beans from the plugin. You can test it, if you set the scope to `prototype` in the demo application-`plugin2`.

[2017-12-07 09:01] decebals commented on #4
@loefflefarn
I explained yesterday in some comments of PR https://github.com/decebals/pf4j-spring/pull/6 why this problem appear.

[2017-12-07 09:42] loefflefarn commented on #4
Ah, yes. Okay, I will look around for a possible solution to help you with it. I've tested around with this, but nothing has work fine.

[2017-12-18 21:11] Julieng50 opened #7 "Info/Demo needed : @Controller / @Service integration"
Does anyone found a proper way to include @Component (@Controller / @Service) in a plugin ?

[2017-12-18 21:46] decebals commented on #7
Maybe below links can help you:
- [HelloPlugin](https://github.com/decebals/pf4j-spring/blob/scope/demo/plugins/plugin2/src/main/java/org/pf4j/demo/hello/HelloPlugin.java#L53)
- https://github.com/decebals/pf4j/issues/126#issuecomment-281388628

[2017-12-19 12:33] Julieng50 commented on #7
I already tried that, but my class annotated @Controller is not working.
This is not very clear on how to implement Component with PF4J, in particular for @Controller (with @RequestMapping).

If someone got a working project to show us how you did that, maybe we could do a easier way to use PF4J with Spring.

[2017-12-19 14:08] decebals commented on #7
The idea is that PF4J loads each plugin with different Java class loader.
So, it's important to know in what Spring (application) context your controller is defined. Is defined in the plugin's application context or in the big application context?

[2017-12-19 15:03] Julieng50 commented on #7
I have controller in both, but the one that does not work is in the plugin, so defined in with de plugin's application context.
The thing that I'm trying to do : make my big application loads dynamically Controllers (from plugins).

[2017-12-19 19:59] decebals commented on #7
Spring comes with an hierarchically application context concept. In your case, the beans registered via plugin's application context is not visible in the big application context and vice versa.
In my example with `HelloPlugin`, I set  the big application context as parent for the plugin application context. In this mode I have access to the beans defined in big application context from plugin.
Th

[2017-12-19 20:01] Julieng50 commented on #7
Ok, I finally find a way to do that :
In API :
[code]
In Plugin :
[code]

No need to add `applicationContext.register(PluginController.class);` in the `createApplicationContext()` in the plugin.

If someone find a way to do it wihtout `@Extension`... :)

[2018-01-23 02:48] fhchina commented on #7
I have the same requirements

[2018-01-23 02:51] fhchina opened #8 "pf4j-spring and Spring Boot"
I need a demo to use pf4j-spring together with Spring Boot. i.e. integrate pf4j-spring into a spring boot application.

[2018-01-23 02:58] fhchina commented on #8
ApplicationContext hierarchy? SpringApplicationBuilder? all help are welcome.

[2018-01-23 09:12] decebals commented on #7
A good introduction to the problem (Spring and modularity) you can find in [A Modular Architecture with Spring Boot](https://hdpe.me/post/modular-architecture-with-spring-boot). In that article you can read about hierarchical application context and that a child context can access bean from the parent context but not vice versa.
You can see the `@Exported` annotation from that article like somethi

[2018-01-23 10:11] decebals commented on #7
In the end if you don't use the extension mechanism from PF4J, what are you using from PF4J, only the plugin mechanism (load and start plugins)?
I think that would be possible in the future to use the `@Controller`, `@Service`, `@Component` annotations from Spring, with PF4J-Spring without to use the `@Extension` annotation from PF4J.

I wish to write below some theoretical aspects related to this

[2018-03-18 22:51] llatasa opened #9 "Could not make the demo app work"
Hi,

I have downloaded the demo app and imported it into Ecplipse. Then I executed the Boot class using the VM parameter -Dpf4j.mode=development.

The exception bellow appears when the application starts (the first line in the log):

Exception in thread "main" org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'greetings': Injection of autowired dependencies fai

[2018-03-19 09:03] decebals commented on #9
Did you follow the instructions from https://github.com/decebals/pf4j-spring#demo (inclusive the working directory)?

[2018-03-19 09:59] laurentkvb commented on #8
Hi, have you tried to make it work?

[2018-03-19 10:24] decebals commented on #8
It will be nice if someone share with us a demo project (available on GitHub), something very simple (maybe a fork of the current demo project with Spring Boot).

[2018-03-19 15:25] llatasa commented on #9
Hi!

The working directory is set by default to ${workspace_loc:pf4j-spring-demo-app}, so I guess this value is correct. I have tried to set the value manually and I get the same result.

Thanks!

[2018-03-19 18:33] decebals commented on #8
Maybe https://github.com/decebals/pf4j/issues/93#issuecomment-283651852 can help.

[2018-03-19 18:42] decebals commented on #9
I cannot replicate yout error on demo. See below the proof:

![image](https://user-images.githubusercontent.com/1248311/37615307-a41ec6ba-2bb5-11e8-82aa-7a8acdcd8633.png)

[2018-03-19 18:42] decebals commented on #9
Can you share (via GitHub) your demo?

[2018-03-19 19:07] llatasa commented on #9
I will upload my demo as soon as possible. In the meanwhile, some information in case it helps:

- I'm using Java 8 instead of 7
- I am using pf4j-spring version 0.4.0. So I modified the pom file to use this instead of 0.5.0-SNAPSHOT.
- I'm now trying with version 0.5.0-SNAPSHOT, just in case, but the lib is not found in the repository. I have tried using this lines:

<repositories>
    <repositor

[2018-03-19 19:38] decebals commented on #9
Version 0.4.0 is the latest. Version 0.5.0-SNAPSHOT is not available because is the same with 04.0 for the moment (see https://github.com/decebals/pf4j-spring/commits/master).

[2018-03-19 20:11] llatasa commented on #9
Hi,

you can download my demo project from this URL:

http://acacia.duranda.net/demo.zip

Basically, I have replaced 0.5.0-SNAPSHOT with 0.4.0 in all the pom.xml files. Then executed it in eclipse.

[2018-03-19 20:37] decebals commented on #9
https://groups.google.com/forum/m/#!topic/pf4j/oQP4Cm2IJn8

[2018-03-19 23:37] llatasa commented on #9
Hi,

you are right! The answer was in that group and in some links referred there. I had to enable Annotation Processing in Eclipse, but doing it at project level was not enough. I have read this:

https://immutables.github.io/apt.html

After installing and configuring the m2e-apt plugin the problem dissapeared.

Hope this helps anyone else.

Thank you so much :-).

[2018-03-20 06:32] #9 closed

[2018-03-21 15:42] fhchina commented on #8
I have tried to integrate pf4j-spring with Spring Boot, but I finally found that making Spring Boot works with multi ClassLoader is too difficult. so I just write a simple Plugin Framework, all plugins are shared the current system class loader. By the way, I use Kotlin to write my plugin framework. Java is too ugly to work with it:)

[2018-03-21 15:57] laurentkvb commented on #8
I have been looking around and saw the OSGi framework. I have been able to create modules, connect modules together make them work independently from each other. Has anyone got experience in making and OSGi based application, where plug-ins are an important aspect?

[2018-03-21 16:42] decebals commented on #8
@fhchina

PF4J can share the same class loader like in your example :smile:.
All you have to do is to override [DefaultPluginLoader#createPluginClassLoader](https://github.com/decebals/pf4j/blob/master/pf4j/src/main/java/org/pf4j/DefaultPluginLoader.java#L57) and to return the same class loader (singleton) for all plugins. I can relax a little bit the signature of method and on return to have a si

[2018-03-21 16:46] decebals commented on #8
@laurentkvb
This topic is about PF4J and not about OSGI. I am sure that you will find enough information about OSGI on the internet (Eclipse and majority of Java application server are built using OSGI).

[2018-03-24 15:04] decebals opened #10 "Move project to the "pf4j" organization"

[2018-03-30 12:59] srbala opened #11 "Change the copyright text from the head of files"
See https://github.com/pf4j/pf4j/issues/171

[2018-03-30 18:21] #11 closed

[2018-03-30 18:21] #10 closed

[2018-04-26 14:10] laurentkvb opened #13 "SpringBoot: Error when re-enabling plugin after being disabled: AnnotationConfigApplicationContext - exception"
In combination with the PF4J-update project, I am using pf4j spring for Spring Boot.

I am trying to create a REST-API for plugin management in Spring Boot, where plugins can be installed, uninstalled, enabled and disabled at runtime.

I have been able to successfully load a plugin & start from the repository at runtime. For these calls, I have been using `pluginManager.disablePlugin("hello-plugin

[2018-04-28 05:33] decebals commented on #13
I don't understand why you call `disablePlugin` and `enablePlugin` to load a plugin & start from repository at runtime. Why you don't use [UpdateManager.installPlugin](https://github.com/pf4j/pf4j-update/blob/master/src/main/java/org/pf4j/update/UpdateManager.java#L231) method?
If you want to load a plugin from your file system you can use [PluginManager.loadPlugin](https://github.com/pf4j/pf4j/bl

[2018-05-04 09:06] laurentkvb commented on #7
@Julieng50 Can you share the source code of your plugin and  Spring application or atleast the main class?

[2018-05-04 14:50] #13 closed

[2018-05-13 22:55] llatasa commented on #7
Hi,

yes, it would be cool if @Julieng50  shared the project (or a working sample). I am using that approach and the constructor of my RestController is being executed, but then when I type the URL in the browser I get a 404 error, so I guess I'm missing something :-D.

Anybody else is having the same issue?

[2018-06-04 22:51] sfines opened #14 "Under certain circumstances, SpringPluginManager does not identify loaded plugins"
```AbstractEventManager.whichPlugin()``` attempts to determine which plugin owns an extension class by comparing their classloaders. Under certain curcumstances (Such as running in IntelliJ) the classloader used will not contain the package but the parent classloader will.

I Overrode the whichPlugin() method in SpringPluginManager and the problem is resolved:
[code]

This method is probably not i

[2018-06-13 14:44] decebals commented on #14
Sorry for late response. I understand what you say and I think that makes sense.
I am not sure if `plugin.getPluginClassLoader().getParent() == classLoader` is reliable.
The parent of `PluginClassLoader` is the application class loader.
I don't know how other people use `PluginManager.whichPlugin` but I pass as parameter only some classes that make sense (extensions, extension points, ...), classe

[2018-06-29 12:22] hudrogen opened #15 "How to scpecify the plugins location using Spring Boot?"
I'm trying to load plugins to base Spring Boot application. But I cannot figure out how to specify the location of plugins. Becouse SpringPluginManager doesn't have constructor with Path argument like DefaultPluginManager.
Here is link to my project repository https://github.com/hudrogen/parent-spring-pf4j
It is based on the demo project.

[2018-06-29 12:58] decebals commented on #15
Yes, it's useful to add a new constructor with parameter in `SpringPluginManager`, similar with `DefaultPluginManager`. If you have time, please submit a PR (pull request) with this modification.
In the mean time, to pass the plugins location you can use the system property `pf4j.pluginsDir` with your desire value (default is "plugins") via:
- command line `-Dpf4j.pluginsDir=plugins`
- code `Syste

[2018-06-29 13:01] decebals commented on #15
By the way, I discovered some time ago this project https://github.com/vindell/spring-boot-starter-pf4j2, maybe is useful.

[2018-07-03 11:31] hudrogen opened #16 "Cannot build plugins from demo project"
I try to build Plugin1 and Plugin 2 from pf4j-spring demo project. I use pf4j-spring ver. 0.4.0
I dropped pf4j-spring module from project, and use pf4j-spring as maven dependency from maven repository.
So, the project has structure like this:
[code]

It's stack trace of maven install
[code]
While maven try to compile module, it generates extension.idx with data inside
![2018-07-03_14-29-01](https:

[2018-07-03 11:52] hudrogen commented on #16
Oops. I found solution. I tried compile project using java 8. Using java 7 it compiles successfully

[2018-07-03 11:53] decebals commented on #16
If you found solution, please close the issue.

[2018-07-03 12:04] #16 closed

[2018-07-03 12:06] hudrogen commented on #16
Solution: Demo project must be runned under java 7. I runned under java 8

[2018-07-04 09:07] hudrogen opened #17 "Spring web application with pf4j-spring?"
Relying on the demo application I created project where main module based on the Spring Boot. Main module runs plugin's extension. Extensions realised some API.  Generally, my project is like a bunch of pluin1 and app from demo project. Now it works like demo project, but throught Spring Boot.

My project is a web application.
I want to realise this case:

1. I create Spring Controller in my plugi

[2018-07-10 16:30] #15 closed

[2018-07-10 20:59] decebals commented on #14
@sfines
I don't know what to do with this issue.

Do you have a response for above question?

It's a solution. My idea is to keep `PluginClassLoader` as simple as possible, to be able to come with any ClassLoader implementation. We will see.

[2018-07-19 13:07] Prashanttorat opened #18 "Spring JPA Repository integration|| issue while inserting data through hibernate , Spring JPA Repository"
i am able to integrate spring plugin with my main application context as parent child, controller and service and repository annotations also discovered, when i select from any table that i can see select query log in logger

 But when i do operation like insert then it is not saving data to table also query is not printed in logger.

[2018-07-19 13:38] decebals commented on #18
You say that select operation works as expected (you see the sql in log) and the insert operation doesn't work?

[2018-07-19 13:41] Prashanttorat commented on #18
yes , select is working and insert not working, i have set hibernate show sql flag as true and select statements are getting logged where as insert not , and there is no any exception

[2018-07-19 13:50] decebals commented on #18
It's strange. I don't see how PF4J can lead to a such behavior. You can put PF4J log on debug (or trace) level to have more information but again.

[2018-07-19 15:21] Prashanttorat commented on #18
i have tried like created data source in plugin and not sharing application of main then it is working

but i wanted to share application context like parent - child , use only one data source which is created by parent application context

let me explain what i am trying to achieve is there will be parent app context which is main will create child context for plugins for the same i have written

[2018-07-19 15:37] decebals commented on #18
Did you tried to search in closed issues, to see if you find a solution?
- https://github.com/pf4j/pf4j/issues/49
- https://github.com/pf4j/pf4j-spring/issues/17

[2018-07-19 16:01] Prashanttorat commented on #18
Yes, i have gone through these issue , so i came to know about context sharing and parent child relation context.

Spring beans are also resolved using annotation itself service is created, spring JPA repository object is also created

if i set hbm2ddl.auto propert as create the its also creating table for the same entity which is part of plugin

only on  save - there is nothing happen, no log no

[2018-07-19 16:04] decebals commented on #18
And https://github.com/pf4j/pf4j-spring/issues/7?

[2018-07-20 05:35] Prashanttorat commented on #18
**i am able to discovered controller and services that is not issue**.

issue is in while saving data using hibernate , in my plugin has Spring JPARepositry (org.springframework.data.jpa.repository.JpaRepository) used  to deal with db operaition

**only thing is data source is created at parent context and same data source using in child context which is plugin**

[2018-07-20 06:56] decebals commented on #18
@Prashanttorat
I don't know how can I help you. I don't use Spring in my applications. You have a lot of information about how pf4j and pf4j-spring work. pf4j-spring is a very light project and you can dive in sources very easy.
Maybe other people that use Spring can help you.

[2018-07-20 09:15] decebals commented on #14
I will close this issue. I added a new [section](https://pf4j.org/doc/class-loading.html) in documentation to explain in detail how classes are loaded in PF4J.

[2018-07-20 09:15] #14 closed

[2018-07-20 09:59] decebals commented on #8
I saw that some people succeeded to use PF4J in Spring Boot applications, and from this reason I will close this issue.
If you thing that the problem is not solved, please open the issue again.

[2018-07-20 09:59] #8 closed

[2018-07-20 10:00] decebals commented on #7
Can we close this issue?

[2018-07-20 13:50] Prashanttorat commented on #18
Hi Decebal Suiu, Thanks for help, issue resolved, i was trying use same entity manger and transaction manager which is created by parent context, which is actually false, Scope is different of parent main context and plugin context

i have just created Entity manager Factory and transaction in plugin context now it is working perfectly as expected

[2018-07-20 13:51] #18 closed

[2018-07-28 22:53] laurentkvb commented on #7
Hi, I am able to share some of the used source code to make the controllers work in Spring Boot. I'll get back at it. Maybe it can be used as a new sub project of the PF4J especially for Spring Boot.

[2018-08-21 10:14] Prashanttorat opened #19 "Third party Dependency in Plugin"
i am not aware of how to add dependency in plugin!

i am facing issue while adding third party jar "apache poi" in plugin, i have added maven dependency in pom file, i am able to build plugin jar file but getting ClassnotFound exception at run time

[2018-08-26 18:34] decebals commented on #19
Can you add more detail please? Can you share with us the plugin's pom.xml? Maybe you create a thin jar and not a fat jar. Please take a look at your plugin's jar and see if the find the POI's classes.

[2018-09-11 23:34] muyen opened #20 "Trying to run the Spring demo-app but got error creating bean with name 'greetings"
Exception in thread "main" org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'greetings': Injection of autowired dependencies failed; nested exception is org.springframework.beans.factory.BeanCreationException: Could not autowire field: private java.util.List org.pf4j.demo.Greetings.greetings; nested exception is org.springframework.beans.factory.NoSuchBeanDefi

[2018-09-12 03:48] decebals commented on #20
I ported `run-demo` scripts from pf4j to pf4j-spring project.
Can you run demo script from command line (`run-demo.sh` for linux or `run-demo.bat` for windows) and share the result?

[2018-09-12 03:48] decebals commented on #19
@Prashanttorat
Did you solved the problem?

[2018-11-13 08:37] michaelruocco opened #22 "Spring application with spring enabled plugins"
Hi,

I have been playing with this framework and managed to get an initial project working which is a spring application which makes use of plugins through the pf4j framework. The git repo is here: https://github.com/michaelruocco/spring-boot-plugin-example.

What I would now like to do is to make use of spring within the plugins themselves. I have had a go at adding this following this element of

[2018-11-13 09:35] decebals commented on #22
@michaelruocco
I will try to help. I wrote in a comment (I didn't find the link) that I am not expert in Spring, so, from this reason I don't add to much comments on this subject (PF4J in Spring).
Maybe other people that use PF4J in Spring applications can help us to improve the interoperability between PF4J and Spring.

[2018-11-16 08:01] michaelruocco commented on #22
@decebals for info I found the solution to this problem. It turns out the project appeared to be working as the plugins were just being picked up from the classpath. However on debugging the plugin loading a bit more closely I found that the plugin classes were not being fired up correctly (which explains my confusion around the .log messages from BidvAliasLoaderPlugin not being printed out on sta

[2018-11-16 08:01] #22 closed

[2018-12-04 23:35] muyen commented on #20
yeah, it is working with run-demo.sh. However, the plugin jars are not copied from target to do demo/plugins. In the run-demo.sh, it should be "cp demo/plugins/*/target/*plugin*.jar demo-dist/plugins/"

[2018-12-11 02:20] CheapLaoo opened #25 "MessageProvider is null"
[code]
### This is the main method
[code]
However  the MessageProvider is null 。 Help plz

[2018-12-11 18:09] decebals commented on #25
Can you run demo script from command line (run-demo.sh for linux or run-demo.bat for windows) and share the result?

[2018-12-11 18:14] decebals commented on #20
@muyen
If you can run demo without any problem, via `run-demo.sh`, I don't understand where is the problem.

[2018-12-11 18:16] decebals commented on #19
I suppose that the problem is solved in the meantime so I will close the issue. If you consider that you need more information, please open it.

[2018-12-11 18:16] #19 closed

[2018-12-11 21:40] muyen commented on #20
I don't see the exception when I use run-demo.sh. However, run-demo.sh loads only the org.pf4j.demo.WhazzupGreeting plugin and not the plugin1 and plugin2 folder. The plugins jars are not copied to the target folder. It should be "cp demo/plugins/*/target/plugin*****.jar demo-dist/plugins/"

[2019-01-02 23:57] dtrunk90 commented on #7
An example how to use `@Entity` annotated (JPA/Hibernate) POJO classes in a plugin while the main app is a spring boot application (auto configuration; see [JpaBaseConfiguration#getPackagesToScan()](https://github.com/spring-projects/spring-boot/blob/v2.1.1.RELEASE/spring-boot-project/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoconfigure/orm/jpa/JpaBaseConfiguration.java#L

[2019-01-03 11:04] dtrunk90 opened #26 "Autowire Extension in Extension leads to NullPointerException"
I'm not able to autowire an Extension in an Extension: https://github.com/keering/keering/blob/master/plugins/widgets/chat/src/main/java/com/github/keering/plugins/widgets/chat/service/impl/ChatHistoryServiceImpl.java#L16

You can start the project by running: `$ ./gradlew build && cd build && java -jar app-1.0-SNAPSHOT.jar`

[2019-01-03 11:09] dtrunk90 opened #27 "JPA Entity Scanning won't pick up entities from plugins"
It's not possible to define JPA entities in a plugin.

Here's the plugins entity: https://github.com/keering/keering/blob/master/plugins/widgets/chat/src/main/java/com/github/keering/plugins/widgets/chat/model/jpa/ChatHistory.java
And this is how I set entity scanning: https://github.com/keering/keering/blob/master/app/src/main/java/com/github/keering/app/configuration/PluginConfiguration.java#L29

[2019-01-03 18:57] decebals commented on #27
Maybe https://github.com/pf4j/pf4j-spring/issues/18 can help.

[2019-01-03 19:02] decebals commented on #26
I don't understand why you say that `ChatHistoryRepository` is an extension point.
Put the log of PF4J on trace or debug (see demo) and see the details.

[2019-01-03 20:32] dtrunk90 commented on #26
Oh well, you're right. I didn't marked `ChatHistoryRepository` as an extension point. Now I did locally and getting this stacktrace as it is an interface, not a class:

[code]

It's a so called CRUD repository which doesn't need a class: https://docs.spring.io/spring-data/jpa/docs/1.6.0.RELEASE/reference/html/jpa.repositories.html

[2019-01-03 20:50] dtrunk90 commented on #27
I don't understand what he is talking about exactly. It's not detailed enough. I guess I have to write this code in my `AbstractPlugin` class constructor?! But there's no reference to the main app context. He is just creating a new context instance which spring boot already does in my `Application` class.

[2019-01-03 22:05] dtrunk90 commented on #27
I did the following changes now but without success:
[code]

[2019-01-04 07:53] decebals commented on #27
Maybe @Prashanttorat can explain you better, because he succeeded.
The short story is tha each Spring plugin is loaded by a different ClassLoader and it has a different ApplicationContext. So you have a parent ApplicationContext (the context of your application) and multiple child AppliicationContext (one context for each plugin). So you have a ApplicationContext hierarchy [1]. Child contexts can

[2019-01-05 10:52] dtrunk90 commented on #27
Thanks, I took a quiet minute and now it is working.

First you have to override `SpringPlugin.createApplicationContext` in order to set the application context from main application as parent and register a `@Configuration` annotated class which creates the entity manager factory bean and transaction manager bean:

[code]

This way the main application context's entity manager can access its enti

[2019-01-05 10:52] #27 closed

[2019-01-05 21:46] dtrunk90 commented on #26
I guess `SpringExtensionFactory#createWithoutSpring` should check for `org.springframework.data.repository.Repository.class.isAssignableFrom(extensionClass)` and create a [JpaRepositoryFactoryBean](https://docs.spring.io/spring-data/data-jpa/docs/current/api/org/springframework/data/jpa/repository/support/JpaRepositoryFactoryBean.html) instead.

I'll do further research and open up a pull request

[2019-01-06 00:47] dtrunk90 commented on #26
I was able to create a bean now with this method:
[code]

But in the end it needs an `EntityManager`. So this is much more tricky than i thought. I don't have a solution yet for this problem and I really don't know how to solve it.

[2019-01-31 08:54] AaricChen commented on #27
Hi @dtrunk90

after add **EntityManagerFactoryBean**

I still got
[code]
the **Repository** can found in my plugin, but entity class is not recognized.
please help on this.
thanks in advance.

[2019-01-31 09:00] dtrunk90 commented on #27
Hi @AaricChen
I completely moved to Spring Factories. Can't help here, sorry.

[2019-02-14 11:19] MohankumarD commented on #19
Hi Decebals,
I am facing the same issue, can you please help on this how to add a dependency for third-party jar..

[2019-02-14 11:20] MohankumarD opened #28 "Add Dependency in Plugin application"
Hi Decebals,
I am facing the same issue, can you please help on this how to add a dependency for third-party jar..

_Originally posted by @MohankumarD in https://github.com/pf4j/pf4j-spring/issues/19#issuecomment-463591048_

[2019-02-14 14:06] decebals commented on #28
From #19:

Your plugin system uses **.zip** or **.jar** format to pack your plugins?

[2019-02-14 14:24] sMitea commented on #26
development ?

[2019-02-14 14:26] sMitea commented on #26
look at https://pf4j.org/doc/development-mode.html

[2019-02-14 17:13] MohankumarD commented on #28
Refer plugin pom.xml file, yes i have created thin jar file for testing. For testing I have used Simple-Json as third pary lib.
[pom.xml.txt](https://github.com/pf4j/pf4j-spring/files/2866052/pom.xml.txt)

Yes my plugin system as .jar format

[2019-02-14 17:34] decebals commented on #28
Probably your plugins packaging approach is based on `demo` module from this project (`pf4j-spring`). Please take a look to `demo` from `pf4j` (https://github.com/pf4j/pf4j/tree/master/demo/plugins) because the entire plugins packaging process is simplified for jar format.
Leave a message if you encounter problems.

[2019-02-15 02:36] MohankumarD commented on #28
Yes, I am referring pf4j-spring. Will you able to tell me what is the mistake in the existing plugin project.

[2019-02-15 18:13] decebals commented on #28
I didn't say that something is wrong with `demo` project from `pf4j-spring`. I say that it is an old version of `demo` project from `pf4j`, and it uses **assembly.xml** to pack the plugin in a **zip** file.
The `demo` from `pf4j` doesn't use an assembly.xml and pack the plugin in a *zip* file.
My recommendation is to try to run demo project (using `run-demo.sh` or `run-demo.bat` script) first, and

[2019-02-17 19:10] sljinlet commented on #20
I concur.  I found the same problem with run-demo.sh.  I don't see how your pattern will work either, as the jar file names don't start with 'plugin'.  I changed the script to just copy all jars, since there's only one in each directory:

`cp demo/plugins/*/target/*.jar demo-dist/plugins/`

and the demo then runs all three plugins.

[2019-02-17 19:17] sljinlet commented on #28
I was going to enter an issue or try to ask a question that seems related to the above, so I'll ask it here for now:

Can you elaborate on if we should be using .zip or .jar plugin files?  The pf4j-spring demo builds .zip files, but the run-demo.sh script doesn't use them...it copies the .jar files instead.  When I try copying the .zip files instead, the app fails to find the plugin class implemen

[2019-02-17 20:28] sljinlet commented on #28
I believe I've done what I asked to have the author do above.  I've submitted a pull request for this work.

[2019-02-18 06:50] MohankumarD commented on #28
I have executed the run-demo.bat file and successfully executed. Please guide me on how do I check the demo project.

[2019-02-18 23:38] decebals commented on #28
I fixed the run-demo scripts. Please run-demo again.
@MohankumarD
If everything is OK you will see in in console the messages printed by extensions:
![image](https://user-images.githubusercontent.com/1248311/52981045-f60bb300-33e5-11e9-8afc-67c975c33801.png)

`pf4j-demo` uses the **.jar** format plugins and `pf4j-spring-demo` uses the **.zip** format plugins. Both plugins format (.jar and .zip) ar

[2019-02-19 06:07] MohankumarD commented on #28
Not able to build plugin1 and 2 projects “mvn clear package”

[2019-02-19 08:13] decebals commented on #28
@MohankumarD
Just run `run-demo.bat` (for Windows) and `run-demo.sh` (for Linux) from root of `pf4j-spring` project.
If you don't succeed please paste last lines here to take a look.

[2019-02-20 06:34] MohankumarD commented on #28
@decebals
If I execute run-demo.bat, it's working fine and I am able to get the result as specified. But I want to make some changes in Plugin1 app alone and create a build. Let me know the changes need to be done in POM file for a successful build.

[2019-02-20 17:42] decebals commented on #28
@MohankumarD
And where is the problem?
If you take a look of plugin1's [pom.xml](https://github.com/pf4j/pf4j-spring/blob/master/demo/plugins/plugin1/pom.xml#L117) you will see that this plugin contains a dependency to `commons-lang`:
[code]

You can add what dependencies you want. At the end, to create the new plugin distribution (plugin.zip) you must:
- `cd pf4j-spring`
- `mvn clean package`

Th

[2019-03-01 16:28] MohankumarD commented on #28
I have an issue while trying to load the plugin as a JAR file. ZIP format plugin is working in the earlier version for PF4J.

[2019-03-01 17:34] MohankumarD commented on #28
I am trying to build app and plugin separately but I can't. for demo separately its ok to build in one short.
Since implementation of plugin architecture, plugin development should be out sourced.

[2019-03-01 17:52] decebals commented on #28
@MohankumarD
Did you follow the steps described by me in https://github.com/pf4j/pf4j-spring/issues/28#issuecomment-465682047? Is it OK for you and you can run the demo?

[2019-03-02 09:33] MohankumarD commented on #28
Yes, I can. But I am not build plugin project alone. I want to build APP and PLUGIN seprately and deploy plugin as JAR file.

[2019-03-02 13:42] decebals commented on #28
Now, I think that I understood what you say.
You need some resources to build a PLUGIN separately so:
- go to root of `pf4j-spring` project and run `mvn clean install`
- go to `pf4j-spring/demo/plugins/plugin1` and run `mvn clean package`

[2019-03-04 14:07] MohankumarD commented on #28
Now, I have added a new dependency in Plugin2. Yes, a ZIP file is working, but still, like a JAR file, I am getting same issue (I am not able to pack plugin as a JAR for deployment).

[2019-03-05 18:03] decebals commented on #28
For a demo with plugins in format JAR please see [PF4J demo](https://github.com/pf4j/pf4j/tree/master/demo).

[2019-03-19 19:57] reckart commented on #8
@decebals could you provider some pointers to those who have succeeded, in particular if their code is available on GitHub?

[2019-03-21 20:09] decebals commented on #25
Any news?

[2019-03-21 20:17] decebals commented on #8
@reckart
Sorry for late response. I am busy with PF4J 3.0.

Maybe it was a good idea to add some details after this affirmation.
I will add some links that could be useful for people in the context of PF4J and Spring (Boot):
- https://github.com/ralemy/pf4j-spring-tutorial
- https://github.com/vindell/spring-boot-starter-pf4j2
- https://github.com/pf4j/pf4j-spring/issues/15
- https://github.com/pf

[2019-03-22 12:21] reckart commented on #8
@decebals thanks :)

[2019-05-01 09:42] egloffmark opened #30 "Extensions.idx files get not generated in Elipse although annotation processing is activated"
I tried to run your demo application with the development mode in Eclipse. I realized that the extension files get not generated in the "target/classes/META-INF" folder although I have activated on the plugin projects the Java compiler option "Enable Annotation Processing".

![Selection_001](https://user-images.githubusercontent.com/7382336/57012296-fd311780-6c05-11e9-8926-bf3101451250.png)

If I

[2019-05-01 10:36] egloffmark commented on #30
It is definitely an eclipse issue - if I just run "maven compile" then the "extensions.idx" files get generated.

I could solve the issue by either configuring Eclipse to use for the Annotations your by adding it to the "FactoryPath" in the Annotations Settings. This of course is not a preferred option so I need to have always the jar file located somewhere and maintained.

![Selection_003](https:

[2019-05-01 11:56] decebals commented on #30
They are some issues that make reference to Eclipse:
- https://github.com/pf4j/pf4j/issues/258
- https://github.com/pf4j/pf4j/issues/249

For no extensions issue:
- https://github.com/pf4j/pf4j/issues/249#issuecomment-444063866
- https://github.com/pf4j/pf4j/issues/21#issuecomment-53316320

I don't use Eclipse in my projects so I know too much about it, but I am sure that a lot of PF4J users use E

[2019-07-19 03:48] syifarahmat opened #31 "Not compatible with pf4j-update & pf4j-spring"
Not compatible with pf4j-update, because different basics libraries (pf4j-spring uses **pf4j: 2.5.0** but pf4j-update uses **pf4j: 3.0.1**) as a result when run error: Caused by: java.lang.ClassNotFoundException: org.pf4j .PluginRuntimeException

[2019-07-19 09:33] otmanel31 commented on #31
Is there any update on this issue, as i will need the update feature in spring context ?

[2019-07-20 20:31] decebals commented on #31
I will make pf4j-spring compatible with pf4j 3.0.1 as soon as possible.

[2019-07-21 14:25] otmanel31 opened #32 "Communication between plugins"
Hi decebals,

I'm trying to enable communication between two plugins. For example, i would like, when there is an incomming message on my plugin 1 to notify plugin2 and finally plugin2 to give a response to plugin1.
When i would like send  a message to plugin2, i was stuck as i don't know or i haven't any known method of plugin2 in my plugin1.

So, may be i've to extend the plugin class to create

[2019-07-22 08:52] otmanel31 commented on #32
I tried something like getWapper().getPluginManager in my constructor plugin. Then i tried to get for example extensions list and when i count it, i have 0 found. When i execute it  in my main app, it found my extensions.

[2019-07-22 17:31] decebals commented on #32
Take a look at:
- https://github.com/pf4j/pf4j/issues/79
- https://groups.google.com/forum/#!topic/pf4j/osvqpNVqkgY

[2019-07-22 18:22] otmanel31 commented on #32
Thanks, the #79 issue is a pull approach ?
using getwrapper.getPluginmanager() is  a pull approach  isn't it ?
I'm able to list my plugins other plugin inside a specific plugin.
I tried something else .... I created a custom plugin (which is abstract) in my api (where are interfaces and abstract class) .... then i'm able in the main app to check the className of plugin and cast it to given Abstrac

[2019-07-22 20:32] decebals commented on #31
I updated pf4j-spring to use pf4j 3.0.1.
I published the SNAPSHOT version (0.6.0-SNAPSHOT) of pf4j-spring. Please try the SNAPSHOT version. If everything is OK I will release a new version.
For how to add the SNAPSHOT repo to your project see https://pf4j.org/dev/maven.html.

[2019-07-23 08:57] otmanel31 opened #33 "Questions: custom plugin or extension use"
Hi Decebals,

I've questions about plugins and extensions. As describe in documentations, a plugin enable some feature for managins plugins. So, i extend plugin (in api), implement it on each jar and enable custom method that could be called by app or other plugin later (using custom Type/interface declared in api). But there are extensions and as describe in documentation, an extension is a speci

[2019-07-23 09:38] decebals commented on #33
Sky's the limit when you use PF4J. PF4J is very flexible and powerful. Try to ignore PF4J in first step and think your business like a monolithic application. The use of PF4J comes natural after this.
For example, use an event driven approach, declare an interface `MyMessageListener` with one method like `onMessage(String/Message message)`. If you want to be notified, implement this interface.
Mak

[2019-07-23 09:56] otmanel31 commented on #33
Thanks for quite reply Decebals .... I will try it ... currently i haven't got any extensions in my app, only custom pluginManager and differents customs plugins that extends Pf4j DefaultPlugin and could implements some interfaces .... i will see then if i should migrate custom method into extensions ....  Thanks for your advice.

[2019-07-23 09:56] #33 closed

[2019-07-24 02:09] syifarahmat opened #34 "Plugin Extension As Controller On Host"
Please help me apply this logic so that pf4j can be used for mvc,

so that the extension can be accessed as a controller in the application host, then the extension must be registered into `((ConfigurableBeanFactory) beanFactory) .registerSingleton (extension.getClass (). getName (), extension);`

i successfully accessed the controller extension into the application host, but failed to call the se

[2019-07-24 02:54] syifarahmat commented on #31
Thank's

[2019-07-24 02:54] #31 closed

[2019-07-24 14:07] otmanel31 commented on #32
As describe in previous comment, communication between plugin is done. For me , there are two ways :
- push approach
- pull approach

[2019-07-24 14:07] #32 closed

[2019-07-24 17:39] otmanel31 opened #35 "pf4j-update and pf4j spring issue"
Hi,

I try to use pf4j update with pf4j spring in my app ....
as describe in previous issue [https://github.com/pf4j/pf4j-spring/issues/31](url), i build locally the latest pf4j spring dependency.
I work with:
 - pf4j-spring 0.6.0-SNAPSHOT (that is in my local maven repo)
 - pf4j-update 2.1.0 (availble on official maven repo)
 - pf4j 3.0.1

When i try to get an updateManager using
`
UpdateManager

[2019-07-24 18:45] decebals commented on #35
Can you show us the fragment of your pom.xml (if you use Maven) where pf4j dependencies are declared?
Also please run `mvn dependency:tree` to see all the dependencies.

[2019-07-25 09:33] otmanel31 commented on #35
yes here my dependency tree:

[INFO] Scanning for projects...
[INFO]
[INFO] -----------------------< com.********:nx-agent >-----------------------
[INFO] Building nx-agent 0.0.1-SNAPSHOT
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- maven-dependency-plugin:3.1.1:tree (default-cli) @ nx-agent ---
[INFO] com.********:nx-agent:jar:0.0.1-SNAPSHOT
[I

[2019-07-25 09:54] decebals commented on #35
`org.pf4j.PluginException` doesn't exists anymore in PF4J 3.x. It was replaced by `PluginRuntimeException`. Can you check to see if you have a reference to this class (PluginException) in your plugins (start, stop, delete). Also please check if don't have a plugin at runtime (zip, jar) built for PF4J 2.x

[2019-07-25 09:58] decebals commented on #35
I think that I found something in your `pom.xml`.
You use pf4j-update 2.1.0 that is not compatible with pf4j 3.x. Please use 2.2.0-SNAPSHOT for pf4j-update.

[2019-07-26 12:49] otmanel31 commented on #35
OK thanks ... this is a version/dependencies issues ... i'm able to start the update manager correctly in my app ... but i'm not able to found any new version in my folder repository to update my plugin ... but this is an other thing not related with this issue... may be i forgot something .... i close this issue... as resolve

[2019-07-26 12:49] #35 closed

[2019-08-16 18:01] satyakatta commented on #26
Were you able to get the CRUD Repository to work?

[2019-08-16 18:24] satyakatta opened #36 "Application Properties in spring plugin"
I was able to get the pf4j-spring configured with Spring boot and the plugins are working fine.

I am trying to get the properties configured in application.properties into one of the plugins and the properties are not getting resolved.

Is this possible?  Or is there a way a do it?

Thx.

[2019-09-23 17:18] decebals commented on #36
Try to take a look to [issues] section of `pf4j`. You will find a lot of nice information and interesting approach that are not present in documentation (yet).
To inject properties to extensions see https://github.com/pf4j/pf4j/issues/308 (it's only as information, just in case that you will need it in the future).
For your particular case, I think that you need the approach described in https://g

[2019-10-10 15:40] Vikcen opened #37 "pf4j-spring compatibility with Spring Boot"
Hello, i hope i can get some help.

I have tested successfully in my Spring Boot web application, loading plugins and getting my extensions from the plugin like in your documentation shows in this way:

[code]
But i don't see any example of loading this plugin via @Autowire (in Spring Boot) like you say in the documentation:

_Ready, your extension is available in your application via PluginManage

[2019-10-11 17:49] decebals commented on #37
https://github.com/pf4j/pf4j-spring/blob/master/demo/app/src/main/java/org/pf4j/demo/Greetings.java#L30

[2019-10-14 15:56] Vikcen commented on #37
Hello, thanks for answering.

I mean an example of use of this estructure *_public class HelloPlugin extends SpringPlugin_*

How/where you obtain/instantiate the *_SpringPlugin_*? i dont see it in the demo.

Greetings.

[2019-10-14 17:15] decebals commented on #37
I don't understand your question, and what you are looking for. Take a look at demo application to see a concrete example. They are some examples/projects available on internet.

You don't need to obtain/instantiate the `SpringPlugin`. You need to obtain only the extensions in your application. A concrete (Spring) plugin is instantiated internally by PF4J. PF4J-Spring is a simple adapter of PF4J f

[2019-10-14 19:54] Vikcen commented on #37
So, if i do something like this, i will obtain that *_HelloPlugin_* implementation?

[code]

Or how can i access to this HelloPlugin?

[2019-10-15 07:21] decebals commented on #37
[code]

where `MyService` is a class from your plugin.

You can also try with `PluginManager#getPlugin(String pluginId)` or `PluginManager#getStartedPlugins`. The result is a `PluginWrapper`, but you can continue with `PluginWrapper#getPlugin` to retrieve the concrete plugin instantiation.

[2019-10-15 07:30] decebals commented on #37
After I read again the description of the issue I want too add more clarifications:

You cannot. In documentation `Autowired` is used only to inject **extensions**.

Yes. I use this approach in my projects (but I don't use Spring). I run my application in [development](https://pf4j.org/doc/development-mode.html) from my IDE (IntelliJ). In this mode (development) my application together with all th

[2019-10-15 09:50] Vikcen commented on #37
That is not correct, it is:

PluginWrapper plugin = pluginManager.whichPlugin(HelloPlugin.class);

But that doesn't work, it returns null (or with _getPlugin_ also returns null). Debugging, within the class  _AbstractPluginManager_ the map _plugins_ is always empty:

/**
     * A map of plugins this manager is responsible for (the key is the 'pluginId').
     */
    protected Map<String, PluginWra

[2019-10-15 10:09] decebals commented on #37
My advice for you is to start with [quickstart](https://pf4j.org/dev/quickstart.html) or/and Spring [demo](https://github.com/pf4j/pf4j-spring/tree/master/demo).
Did you started your application in development mode? Are you sure?

I'm sorry but I cannot help you with more information.

[2019-10-16 17:05] decebals commented on #37
OK. Please share the project maybe I have some time to take a look.

[2019-10-17 10:27] Vikcen commented on #37
Could you give me permissions to push a new branch (_issue/37_) , i have cloned this:
**https://github.com/pf4j/pf4j-spring.git **

[2019-10-23 15:40] Vikcen commented on #37
I did a push to master. For running the test:

 - For building project **pf4j-spring-boot-demo**:
        - 1) mvn clean install -Pmain-build
        - 2) mvn clean install -Pjar-client-build
 	Then build project **pf4j-spring-boot-demo-jar-plugins**:
        - 3) mvn clean install

 - For running the demo test, run the spring boot app: **org.pf4j.demo.boot.MainApp** in pf4j-spring-boot-demo proje

[2019-10-28 21:10] cwiechmann commented on #30
I'm using Eclipse as well and can confirm, that I'm having exactly the same problem. Just added the JAR to the "Factory path" and with that it is working.

[2019-11-19 15:31] claymccoy opened #38 "getting a single extension marked as Primary fails"
I've got a more representative demo Spring PF4J demo here:
https://github.com/claymccoy/Pf4jSpringGreetingDemo

It works fine, even when I uncomment the single greeting endpoint.
https://github.com/claymccoy/Pf4jSpringGreetingDemo/blob/master/src/main/java/org/pf4j/demo/GreetingsController.java#L25

But with the single greeting endpoint uncommented, if I add more greeting extensions via plugins it

[2019-11-20 22:27] decebals commented on #38
I don't know how I can help here.
The `pf4j-spring` is  very tiny and easy to hack. All the business is available in two classes: SpringExtensionFactory and ExtensionsInjector. The extension is injected as bean in [SpringExtensionFactory#create](https://github.com/pf4j/pf4j-spring/blob/master/pf4j-spring/src/main/java/org/pf4j/spring/SpringExtensionFactory.java#L60).

I am not familiar with @Prima

[2019-11-20 22:33] decebals commented on #38
Maybe [this](https://stackoverflow.com/questions/48002505/how-to-dynamic-register-spring-bean-and-set-as-primary) link helps.

[2019-11-23 15:04] decebals commented on #38
In [GreetingsController](https://github.com/claymccoy/Pf4jSpringGreetingDemo/blob/master/src/main/java/org/pf4j/demo/GreetingsController.java#L16) you say:

Yes, this behavior is normal (with current implementation) because PF4J creates the extensions instances and not Spring. In this context, any Spring's annotation that exists on the extension class (like `Scope`, `Primary, ...`) must be treated

[2019-11-23 15:55] decebals commented on #38
Maybe an idea is to use the **meta annotation** concept from Spring (for more details see [this](https://stackoverflow.com/questions/7846103/customised-annotation-in-spring)).
On the master branch of PF4J there is already support for the extensively decorated annotation(https://github.com/pf4j/pf4j/issues/347). So, right now, we can write something like:
[code]
where `@Extension` defines an extens

[2019-12-11 12:51] hank-cp commented on #8
hi everyone, I make a project [sbp](https://github.com/hank-cp/sbp) which is built on top of pf4j to support Spring Boot integration. It should be able to allow you develop a Spring Boot web application in a *PLUGIN* way.

[2019-12-11 13:00] hank-cp commented on #34
pf4j-spring just inject the plugin extension into main application's `ApplicationContext` as a ordinary bean. To make you `@RestController` works as expect, you have to do a lot more like hacking `RequestMappingHandlerMapping`.

If you are using Spring Boot, you might take a look at [sbp](https://github.com/hank-cp/sbp), it is built on top of pf4j to provide better **Spring Boot** integration, suc

[2019-12-16 06:04] syifarahmat commented on #34
Verry goooooods..... Thank's u....

[2019-12-16 18:48] decebals commented on #36
@satyakatta
Did you find a solution?

[2019-12-16 18:51] decebals commented on #34
@syifarahmat
If solution proposed by @hank-cp solves your problem please close this issues. You can share with us other possible solutions if you found any.

[2019-12-17 18:02] satyakatta commented on #36
Guess I did.  I started using the properties specific to the module by configuring it to load from modules reaources.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Decebal Suiu <notifications@github.com>
Sent: Monday, December 16, 2019 10:48:33 AM
To: pf4j/pf4j-spring <pf4j-spring@noreply.github.com>
Cc: satyakatta <satya_prasad@hotmail.com>; Mention <ment

[2019-12-17 22:23] decebals commented on #36
@satyakatta
Can you share with us some (pseudo)code or/and to add more details?

[2019-12-18 01:33] #34 closed

[2020-02-02 02:17] santoo1116 opened #39 "Not able to find spring components created in plugin zip"
When we register the configuration files - only the beans created in config files are being eligble for autowiring but not the components declared in the plugin application - is there any way to register all the components created as well?

[2020-02-02 22:34] santoo1116 commented on #39
Got around it by adding scan during the creation of plugin application context.
applicationContext.scan(*plugin base package here*); But it would try to load all the components and when there is some issue while loading - the context refresh will go to infinite loop.
Need to search for a better solution.

[2020-02-03 08:22] decebals commented on #39
@santoo1116
Can you share with us some code or snippet to understand more easy what you try to achieve?

[2020-02-20 21:52] Cobrijani opened #40 "extension.idx cannot be found - Spring Boot maven plugin"
When running spring boot application with **spring-boot-maven-plugin** the plugin manager can find the plugin but it cannot find the **extension.idx**. Simply running java -jar from command line works without the problem.

This causes that you are unable to use **spring-boot-maven-plugin** meaning that your development process is slowed down.

[2020-02-21 17:38] decebals commented on #40
I don't use Spring Boot so I cannot help you with `spring-boot-maven-plugin` (I don't know how this plugin works). Maybe other users can help you.

[2020-03-18 15:14] carlosFlux opened #41 "Can't get working the functionality "Disable Plugin""
From AbstractPluginManager.loadPlugins() its called AbstractPluginManager.loadPluginFromPath() that recognise and marks plugins as DISABLED (I'm only adding the disabled.txt in the plugins folder). But later AbstractPluginManager.resolvePlugins() mark the same plugin as RESOLVED. Is there something I'm missing?

[2020-03-18 15:56] decebals commented on #41
@carlosFlux
Which PF4J version do you use?

[2020-03-18 16:04] carlosFlux commented on #41
Hello, These are the versions that I'm using

[INFO] \- org.pf4j:pf4j-spring:jar:0.5.0:compile
[INFO]    +- org.pf4j:pf4j:jar:2.3.0:compile
[INFO]    |  +- org.slf4j:slf4j-api:jar:1.7.5:compile
[INFO]    |  \- com.github.zafarkhaja:java-semver:jar:0.9.0:compile
[INFO]    +- org.springframework:spring-core:jar:4.0.5.RELEASE:compile
[INFO]    |  \- commons-logging:commons-logging:jar:1.1.3:compile
[

[2020-03-18 20:14] carlosFlux commented on #41
Oh it's solved in a recent version of the core library. Thanks for your time.

[2020-03-18 20:14] #41 closed

[2020-03-24 08:40] lhanda opened #42 "Dependencies of system extension inside SpringPluginManager's host not autowired"
Have a problem when using SpringPluginManager in a SpringBoot project with a system extension defined. Inside the system extension I have annotated a dependency using the Spring '@Autowired' annotation like how you would define for a SpringPlugin's plugin extension. However, upon running the code, the dependency inside the system extension was not injected because the SpringExtensionFactory's crea

[2020-03-28 08:54] decebals commented on #42
@lhanda
I understand your problem, thanks for reporting it.

Can you create a PR please? Did you tested your suggestion on your code?

[2020-03-30 13:33] lhanda commented on #42
Yes, I tested locally. Put up a PR as per requested, please review, tks.

[2020-03-30 15:09] decebals commented on #42
I merged your PR. Thanks for your contribution!
Please close this issue.

[2020-03-30 22:04] lhanda commented on #42
You are welcome.

[2020-03-30 22:04] #42 closed

[2020-04-06 11:01] sharat87 opened #45 "Next release version"
Apologies if this is not the right avenue for this question.

The current release of `pf4j-spring` available on Maven central is version 0.5.0 which depends on pf4j version 2.x. I see that the latest HEAD uses 3.0.1. May I know when a new release will be pushed so we can start using it please?

Ideally we'd like to upgrade to using pf4j 3.2.0 (which is the latest as of today), but even 3.0.1 would

[2020-04-06 12:16] decebals commented on #45
@sharat87

Your question is good.
The code is already prepared for PF4J 3.x:
![image](https://user-images.githubusercontent.com/1248311/78557398-64454c00-7819-11ea-8d12-684f402b027b.png)

I will try to create a new release today or tomorrow. Please try to use the SNAPSHOT version until release.

[2020-04-06 14:27] sharat87 commented on #45
Thank you very much. If you plan to do it within this week, then I'd rather wait for the actual release. 🍰

[2020-04-09 11:13] decebals commented on #45
A new version (0.6.0) is already available. The new version uses the latest version of PF4J (3.2.0).

[2020-04-09 14:19] sharat87 commented on #45
Awesome, got it. Thanks for the quick turnaround man!

[2020-04-09 14:19] #45 closed

[2020-04-12 09:19] decebals commented on #37
@Vikcen What is the status of this issue? Can we close it?

[2020-05-17 10:50] fabioformosa commented on #20
You should add an extensions.idx file into both plugin sources to run the demo in `development mode` without to launch `run-demo.sh/bat`, is it true?

[2020-05-28 08:22] 799452017 opened #46 "After loading the plug-in for pf4j spring:Caused by: java.lang.NoClassDefFoundError: com/devsecops/center/rest/Dpcrest"

[2020-05-28 08:24] #46 closed

[2020-05-28 08:34] 799452017 opened #47 "After loading the plug-in for pf4j spring:Caused by: java.lang.NoClassDefFoundError: com/devsecops/center/rest/Dpcrest"
com/devsecops/center/rest/Dpcrest  is the package that invokes Maven dependencies in the plug-in. I tried to invoke this dependency in other plug-ins and add plug-ins in the same way without any problems, which puzzled me.
[code]

[code]

[2020-05-29 02:19] #47 closed

[2020-06-05 21:48] fabioformosa opened #48 "Loading plugin as spring boot executable jar"
I've tested loading a plugin developed with spring boot.
Normally, a spring boot project (it could be the plugin) is built with spring-boot-maven-plugin that create a spring boot executable jar, that is a fat jar that contains classes + libs.
The structure of those spring boot executable jar is different than a standard jar, look at this doc page: https://docs.spring.io/spring-boot/docs/current/re

[2020-06-06 07:19] decebals commented on #48
Sure.
Take a look at [PluginClasspath](https://github.com/pf4j/pf4j/blob/master/pf4j/src/main/java/org/pf4j/PluginClasspath.java) and its implementations like [DevelopmentPluginClasspath](https://github.com/pf4j/pf4j/blob/master/pf4j/src/main/java/org/pf4j/DevelopmentPluginClasspath.java).

[2020-06-11 03:14] decebals commented on #48
`JarPluginLoader` loads plugins in [JAR](https://en.wikipedia.org/wiki/JAR_(file_format)) format. The layout of a JAR file is standard. Sure, in the end I think that we can force the use of `PluginClasspath` also in `JarPluginLoader` but my feeling is that you use `spring-executable-jar` in a non natural way (maybe I am wrong).
I am not familiar with Spring Boot but my question is why do you need

[2020-06-11 21:40] fabioformosa commented on #48
In spring boot application, the natural way to build a jar is just the `spring-executable-jar`.
As you properly point out, it's a nonsense to have an executable file to load as a plugin. It's true, but `spring boot` is not only a way to run app standalone, by now it's also the standard way to develop using spring framework, because it semplifies the setup and reduces the boilerplate.
In my context

[2020-06-12 08:29] decebals commented on #48
Of course, I don't want to convenience you to not use `spring-executable-jar`.
By default (current implementation), PF4J doesn't come with support for a such type of jar but PF4J is very flexible and it allows you to configure every aspect.
So, the fast solution for you is to create a `SpringBootPluginLoader` that probably will extends `JarPluginLoader`, and to override the `load` method. After th

[2020-07-14 08:18] AzzouzMohamed commented on #20
hi how do i fix this?

[2020-07-19 19:19] m-schroeer opened #49 "Support constructor injection in extensions (implementation of ExtensionPoint)"
Hi,

first of all: great framework, great possibilities to override all factory methods for custom needs.

However I encountered a "problem" using **pf4j-spring**. _"Problem"_, because one could workaround this with ease, but this breaks with conventions.

### So what am I talking about?

**Background**

Dependency injection can be achieved by

- constructor injection
- setter injection or
- field

[2020-08-21 10:02] jamesmmchugh opened #52 "PluginClassLoader issue with loading duplicate spring classes"
I have three projects consisting of:

* A Shared-API project with interfaces for ExtensionPoints, only depending on PF4J (compile scope)
* A Main-Application using Spring, PF4J and PF4J-Spring, and the Shared-API project above
* A Plugin-Project that implements a SpringPlugin and tries to start it's own application context, with its own dependencies on Spring, PF4J (compile scope), PF4J-Spring (co

[2020-08-25 20:05] shirishpandharikar commented on #48
I have personally used pf4j in some of my projects with Spring Boot. I think what @decebals is saying about plugins not being executable makes complete sense. A plugin at the end of the day is a contract implementation. So they you can actually lay down some guidelines for the plugin developers on how it should be packaged. That is exactly what we did in our projects. I understand that using a .ja

[2020-08-25 20:11] shirishpandharikar commented on #40
@Cobrijani Can you elaborate on the problem please?

[2020-08-25 21:57] decebals commented on #40
@Cobrijani I think if you want to get help, it's OK to provide more information. A small quick start project (public on Github) increases the chances that the problem will be reproduced, understood and solved. In the end, error reporting is an art :smile:.

[2020-08-28 21:55] fabioformosa commented on #48
I'm trying to understand what happens under the hood of spring boot classloader. I agree with you, it's complex enough.
I'll let you know when I have some news.

[2020-09-29 06:48] Mishin870 commented on #49
Hello! Came across the same problem while studying this framework
Awesome solution!
Just one question: are there any downsides to this solution besides potential conflicts with updates of the main repository?
I see it still not merged..

[2020-09-29 07:05] decebals commented on #49
@m-schroeer First of all I'm sorry for delay and thanks for the beautiful description of issue.
I see an interest in the solution supplied by you.
In my projects I don't use Spring with PF4J and I wonder if you see in your solution a possible compatibility issue with the current behavior. The idea is that I want to merge PR as soon as possible, but without breaking something that already works.

[2020-09-30 19:45] Mishin870 opened #53 "List of extensions/beans safety | Intellij inspection"
Hello!
First of all, @decebals, i understand you're not using Spring with PF4J. And sorry for my english
Im porting my app from asp.net core to spring boot with pf4j. It works nice, but i see one potential problem

Im implemented an mvc controller, that uses a list of extension beans based on my api interface `Lab`
And tried to autowire it, but intellij spring integration highlights this runtime p

[2020-09-30 23:44] Mishin870 commented on #53
Upd: changed my bean to this. Extensions are cached with reaction to updates and synchronized (i think) to multiple threads of mvc
It is better than requesting new list of extensions everytime, than pure list with `@autowired` cause its not updating (tested it) and its partially `@autowired`
I think this solution is enough.. closing this issue
![image](https://user-images.githubusercontent.com/125

[2020-09-30 23:44] #53 closed

[2020-10-16 08:16] m-schroeer commented on #49
Sorry for my delay as well.
First of all I want to thank you for your positive feedback!

It is a while since I got into it in depth but if my memory is correct there should not be any compatibility issues with this.
My initial intention was to support all three ways of injection that Spring offers us (whether they are recommended or not). And because of this I had deeply in mind that my solution

[2020-10-18 13:11] michael-becker opened #54 "maven snapshot not available in repository"
Thanks for the good work. PF4J is exactly what I was searching for a long time 👍

Currently, the last available version of `pf4j-spring` is 0.6.0. The sonatype repository does not contain the snapshort version (https://oss.sonatype.org/#nexus-search;gav~org.pf4j~pf4j-spring~~~). Thus, to use the snapshot we have to clone the repository and install the version locally.

Is it planned to deplay the

[2020-10-21 21:38] WorkingDevel opened #55 "update dependencies to newest spring 5.+ versions"
Spring Framework in Version 5 is out since 2017 and should be used by pf4j-spring to be up-to-date and support having newer features in a pf4j-spring app.

[2020-10-22 06:48] decebals commented on #55
@WorkingDevel Can you create a PR with Spring 5, please?

[2020-11-11 18:36] stefv opened #57 "Concrete bean could not be received from the application context"
Hello,

I'm making a spring boot application using Wicket and PF4J. I want to use spring services in my plugins. These services are not using services outside the plugin class loader. In my plugin, I can have wicket panels. The panel class can use the Spring service.

Here the class of the plugin:

[code]

Its interface:

[code]

The SpringConfiguration class:

[code]

The configuration panel:
[co

[2020-11-15 18:15] decebals commented on #57
Please take a look at [pf4j-wicket](https://github.com/pf4j/pf4j-wicket). Maybe you can match `pf4j-spring` with `pf4j-wicket`.
By the way, I used Wicket in the past with a real success and pleasure. It's a nice web framework.

[2020-11-16 21:11] michael-becker opened #58 "SpringPlugin start/stop/start results in Exception"
I tested the following calls:

[code]

The secons call to `getExtensions` results in an Exception: `java.lang.IllegalStateException: org.springframework.context.annotation.AnnotationConfigApplicationContext@4a6facb0 has been closed already`

I figured out the following workaround in [SpringPlugin](/pf4j/pf4j-spring/blob/master/pf4j-spring/src/main/java/org/pf4j/spring/SpringPlugin.java)
[code]

By

[2020-11-16 22:05] decebals commented on #58
@michael-becker Thanks for reporting this issue.
Can you create a PR please? A PR has a higher visibility (diff, ...). It will be awesome if the PR will contains a unit test.

[2020-12-15 21:35] Anton-vanderTuijn opened #60 "Loading plugin on-runtime : Ambiguous hander methods mapped & ConcurrentModificationException when unregistering routes"
Hi,

I'm trying to import plugins on-runtime,
I began without on-runtime plugin loading, base on the pf4j-spring demo I manage to create plugins and if I place the plugin file into /plugins before creating the Spring ApplicationContext everything is fine, I can access each of my mapped routes.
To implement on-runtime plugin loading, when I detect a new plugin I load them and then call the followin

[2021-01-04 01:49] 799452017 opened #61 "I use it SpringPluginManager, It seems to be a single case."
[code]
`SpringExtensionFactory ` is written in `extensionClass.newInstance()`, But after the experiment, the message I get is still hello.I have no idea.

[2021-01-11 02:05] 799452017 commented on #61
@decebals Can you give me an answer? Please, my project is in serious trouble now.

[2021-01-11 07:35] decebals commented on #61
As I said, `pf4j-spring` is very light and can be analyzed, debugging or recreated very easy.
I don't use spring in my projects involving PF4J, so my knowledge of this combo (spring-pf4j) is limited.

But I encounter your problem I will try to take a look in [SpringExtensionFactory#create](
https://github.com/pf4j/pf4j-spring/blob/master/pf4j-spring/src/main/java/org/pf4j/spring/SpringExtensionFac

[2021-01-14 01:22] 799452017 commented on #61
Thank you very much. I use `pf4j-srping:0.7.0` .

[2021-02-18 06:47] jeven2016 opened #62 "How to update the ‘List<Greeting>’ while some plugins unloaded and deleted?"
Hi,

Could you take a look at this questions?

Question: How to update the ‘List<Greeting>’ bean while some plugins are unloaded/deleted?
[code]

1. At the begining, there're 3 extensions found
[code]

2. And I'd like to unload plugin-1 and try to replace it with a new plugin latter
[code]
3. unfortunately, there're still be 3 extensions printed after the plugin-1 is unloaded.....

So how to updat

[2021-04-06 03:22] HuangDayu commented on #62
@jeven2016 你好，我也正苦恼这个问题，插件卸载之后，其注入的bean依然可用，除了自主管理bean，还有什么其他更好的办法吗？多个pf4j的衍生版本都存在这个问题。

@JEVEN2016 Hello, I am also worried about this problem. After the plugin is uninstalled, the bean that is injected is still available. In addition to independent management bean, what other better ways? This problem exists in a derived version of multiple PF4J.

[2021-04-07 10:23] decebals commented on #62
I am afraid that here it's necessary a context reload or something similar.

you can take a look on the readme page of project (https://github.com/pf4j/pf4j-update) or in [UpdateIntegrationTest](https://github.com/pf4j/pf4j-update/blob/master/src/test/java/org/pf4j/update/UpdateIntegrationTest.java).

[2021-04-17 15:25] Ahmed-Elkholy opened #63 "How to add integration tests for the plugin?"
If the plugin uses services/repositories from the application that loads the plugin, is there a way to do integration tests for this?

[2021-05-27 16:35] guozhi72 opened #64 "self contained example"
can you provide a self contained example to have restful controler and spring jpa in plugings.

[2021-06-19 03:27] guozhi72 opened #65 "Jpa in plug-in not working"
Hi:
I followed https://github.com/pf4j/pf4j-spring/issues/27
I couldn’t make it work. Can somebody past entire code which include rest controller and jpa in plug-in.
I am surprised I could not find single example.

my controller to get list of entity which use jpa find all return null to postman. I put logging in the code. Before find all, message is logged. After fin fall, message didn’t show.

[2021-06-19 14:42] guozhi72 commented on #65
In below plugin controler,
localhost:8080/student-controller/s1, some time I got message null, some time found Not found. But based on the loging,

2021-06-19 09:36:27.302  INFO 9740 --- [nio-8080-exec-5] com.houston.plugin.StudentPlugin         : 1111
2021-06-19 09:36:27.306  INFO 9740 --- [nio-8080-exec-5] com.houston.plugin.StudentPlugin         : 1111cccc exception={0}

exception happended, I

[2021-06-22 05:21] Ted-Engineer opened #66 "Hi author, Can I send a pull request to PF4J-Spring to support the Spring parent-child context ？"
Hi author:
    In my cases,many plugins need to use services provided by the host application，so I had the idea of supporting a Spring parent-child context

Example Code:
`
Desc: Then SpringPlugin#getApplicaitonContext and SpringPlugin#createApplicationContext methods can take Parent-ApplicaitonContext as a input parameter.

public abstract class SpringPlugin extends Plugin {

    private Applicat

[2021-08-16 02:09] jeven2016 commented on #62
@HuangDayu 只有重启才行，我尝试了其他的插件系统，目前还没有这类的多版本运行时升级不重启生效的。

[2021-09-17 02:36] neasonpy commented on #62
try SOFA Ark or SOFA Jarlinks to switch multi-version plugin.

[2021-09-20 16:08] daincredibleholg opened #69 "Injecting beans from plugin in application doesn't work"
Hi.

We are currently building a Spring Boot-based service that will use plugins to make it highly customizable for our users.

One thing we try to do is providing beans via plugins that can be injected by the host application.

From what I found so far, it looks like the plugin manager isn't instantiated yet when Spring tries to resolve all injectable dependencies.
To make this (hopefully) a bit

[2022-02-07 18:14] #4 closed

[2022-02-26 04:05] 3fong opened #71 "run exception on pf4j-spring demo"
when very first run pf4j-spring demo you will get some fails:
1 if you use some high jdk version ,like 11.0.13,then you will get the fail: package javax.annotation does not exist in .
error detail:
[code]
2 lack the reference of java.util.List in org.pf4j.spring.SpringPluginManager

[2022-10-26 21:06] #71 closed

[2022-10-26 21:07] decebals commented on #61
@799452017 Any update here?